*             -licensefile
/license.pm   licensefile=.githooks/license-maintainer/LICENSE-hash
/pre-commit   licensefile=.githooks/license-maintainer/LICENSE-hash
/install      licensefile=.githooks/license-maintainer/LICENSE-hash
