# Some files 
compile_commands.json
.DS_Store
*.pro.user
*.user
.vs/
*.qm

assets/package_dmg.json
CMakeSettings.json

SourceTrail/

3rdparty/android_openssl
patches/

libs/gen
libs/deps
libs/x64-windows
libs/x86-windows
libs/x86-android
libs/x64-android
libs/arm-android
libs/arm64-android
libs/tools
libs/libqvb-*

assets/android/AndroidManifest*
build**/
out/

# IntelliJ-based IDE Trash
/.idea/
*.iml
/cmake-build-*

#oss code
.vscode
.cache