[submodule "3rdparty/x2struct"]
	path = 3rdparty/x2struct
	url = https://github.com/xyz347/x2struct
[submodule "3rdparty/qhttpserver"]
	path = 3rdparty/qhttpserver
	url = https://github.com/nikhilm/qhttpserver
[submodule "3rdparty/SingleApplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication
[submodule "3rdparty/QNodeEditor"]
	path = 3rdparty/QNodeEditor
	url = https://github.com/lhy0403/QNodeEditor
[submodule "3rdparty/qzxing"]
	path = 3rdparty/qzxing
	url = https://github.com/ftylitak/qzxing
[submodule "libs/gRPC-win32"]
	path = libs/gRPC-win32
	url = https://github.com/Qv2ray/gRPC-Windows-Packages
[submodule "libs/libqvb"]
	path = libs/libqvb
	url = https://github.com/Qv2ray/QvRPCBridge
