language: shell
os: linux
dist: bionic

env:
  global:
    - LC_ALL: C.UTF-8
    - LANG: C.UTF-8

addons:
  snaps:
    - name: snapcraft
      channel: edge
      confinement: classic
    - name: lxd
      channel: stable

script:
  - sudo apt-get autoremove lxd --purge
  - sudo /snap/bin/lxd waitready
  - sudo /snap/bin/lxd init --auto
  - snapcraft --use-lxd

after_failure:
  - sudo journalctl -u snapd

deploy:
  - provider: launchpad
    slug: "~ymshenyu/qv2ray/+git/trunk"
    oauth_token: $LAUNCHPAD_OAUTH_TOKEN
    oauth_token_secret: $LAUNCHPAD_OAUTH_TOKEN_SECRET
    on:
      all_branches: true