language: cpp

matrix:
    include:
        - os: linux
          dist: bionic
          sudo: required
          env: BADGE=linux
        - os: osx
          env: BADGE=osx

before_install:
  - if [ "$BADGE" = "linux" ]; then    sudo apt-get update; fi

install:
  - if [ "$BADGE" = "linux" ]; then    sudo apt-get install qtchooser libgl-dev qt5-default qttools5-dev-tools libgrpc++-dev libprotobuf-dev protobuf-compiler protobuf-c-compiler protobuf-compiler-grpc; fi
  - if [ "$BADGE" = "osx" ];   then    brew install qt5 --verbose; fi
  
before_script:
  - if [ "$BADGE" = "osx" ];   then    export PATH="/usr/local/Cellar/qt/5.13.1/bin:$PATH"; fi
  - if [ "$BADGE" = "linux" ]; then    sudo cp ./tools/lrelease.prf /usr/lib/x86_64-linux-gnu/qt5/mkspecs/features/; fi
  - if [ "$BADGE" = "linux" ]; then    chmod +x ./tools/grpc_gen.sh && ./tools/grpc_gen.sh; fi
  
script:
  - git submodule update --init
  - mkdir build && cd ./build 
  - qmake ../
  - if [ "$BADGE" = "linux" ]; then    make compiler_lrelease_make_all; fi
  - if [ "$BADGE" = "linux" ]; then    ls -lah --color=always --recursive; fi
  - make -j8   
