language: shell
os: linux
dist: xenial

git:
  depth: false

branches:
  only:
    - dev
    - dev-destructive-mode

env:
  global:
    - LC_ALL: C.UTF-8
    - LANG: C.UTF-8

addons:
  snaps:
    - name: snapcraft
      channel: stable
      confinement: classic

before_install:
  - echo "deb http://ppa.launchpad.net/ymshenyu/qv2ray-deps/ubuntu bionic main" | sudo tee -a /etc/apt/sources.list
  - echo "deb http://archive.neon.kde.org/unstable bionic main" | sudo tee -a /etc/apt/sources.list
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 281F24E574404629AA3BDA1A4F10C386C55CDB04
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E6D4736255751E5D
  - sudo apt-get -qq update

script:
  - snapcraft --destructive-mode

after_failure:
  - sudo journalctl -u snapd

deploy:
  provider: snap
  snap: qv2ray_*.snap
  channel: edge
  skip_cleanup: true
  on:
    branch: dev