language: cpp

matrix:
    include:
        - os: linux
          dist: bionic
          sudo: required
          env: BADGE=linux
        - os: osx
          env: BADGE=osx

before_install:
  - if [ "$BADGE" = "linux" ]; then    sudo apt-get update; fi

install:
  - if [ "$BADGE" = "linux" ]; then    sudo apt-get install qtchooser libgl-dev qt5-default qttools5-dev-tools; fi
  - if [ "$BADGE" = "osx" ];   then    brew install cppcheck https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/qt.rb; fi
  - if [ "$BADGE" = "osx" ];   then    brew link --force qt; fi  
  
before_script:
  - if [ "$BADGE" = "osx" ];   then    export PATH="/usr/local/opt/qt/bin:$PATH"; fi
  - if [ "$BADGE" = "linux" ]; then    sudo cp ./libs/lrelease.prf /usr/lib/x86_64-linux-gnu/qt5/mkspecs/features/; fi
  
script:
  - git submodule update --init
  - mkdir build && cd ./build 
  - qmake ../
  - if [ "$BADGE" = "linux" ]; then    make compiler_lrelease_make_all; fi
  - if [ "$BADGE" = "linux" ]; then    ls -lah --color=always --recursive; fi
  - make    
