
[submodule "src/PluginInterface"]
	path = src/PluginInterface
	url = https://github.com/Shadowsocks-NET/Qv2rayBase-PluginInterface
[submodule "3rdparty/uvw"]
	path = 3rdparty/uvw
	url = https://github.com/skypjack/uvw
