[Desktop Entry]
Encoding=UTF-8
Type=Application
Keywords=Internet;VPN;Proxy;v2ray;Qt
Categories=Network;Qt;
Icon=Qv2ray
Exec=AppRun
Name=Qv2ray
Comment=Cross-platform v2ray GUI Client in Qt.
