[Desktop Entry]
Type=Application
Keywords=Internet;VPN;Proxy;v2ray;Qt;
Categories=Network;Qt;
Icon=Qv2ray
Exec=qv2ray
Name=Qv2ray
Comment=Cross platform v2ray Qt GUI Client.
