name: Build Qv2ray AUR
on: 
  push:
    paths-ignore:
      - '.github'
    branches:
      - master
      - dev
    tags:
      - 'v**'
  schedule:
    - cron: "0 19 * * *"

jobs:
  check_commit_msg:
    outputs:
      commit_message: ${{ steps.get_message.outputs.message }}
    name: Check if the workflow has been disabled.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get commit message
        id: get_message
        run: |
          echo "::set-output name=message::$(git log --format=%B -n 1 ${{ github.event.after }})"
          echo "::set-env name=message::$(git log --format=%B -n 1 ${{ github.event.after }})"

  aur:
    needs: check_commit_msg
    if: ${{ !contains( needs.check_commit_msg.outputs.commit_message, 'NO_AUR') }}
    strategy:
      fail-fast: false
      matrix:
        repo: [qv2ray, qv2ray-dev-git]
    runs-on: [ubuntu-latest]
    steps:
      - uses: DuckSoft/build-aur-action@v1.0
        with:
          repo-name: ${{ matrix.repo }}

      - name: Post AUR Build Action
        uses: DuckSoft/post-aur-build-action@0.1.0
