name: Build Qv2ray

on:
  push:
  release:
    types: [prereleased]

env:
  BuildType: "Release"
  QtVersion: "6.1.0"
  _QV2RAY_BUILD_INFO_: "Qv2ray built from Github Actions"
  _QV2RAY_BUILD_EXTRA_INFO_: "${{ github.sha }}"
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  Windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Cache Qt
        id: cache-qt-windows
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: QtCache-Windows-${{ env.QtVersion }}
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ env.QtVersion }}
          arch: win64_msvc2019_64
          cached: ${{ steps.cache-qt-windows.outputs.cache-hit }}
      - name: Install Dependencies
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.10.0
      - name: Win - Download Dependencies
        shell: bash
        run: |
          cd ./libs
          ./setup-libs.sh windows x64
      - name: Build
        shell: bash
        env:
          CC: cl.exe
          CXX: cl.exe
        run: |
          mkdir build
          cd build
          cmake .. -GNinja \
            -DCMAKE_INSTALL_PREFIX=./deployment \
            -DCMAKE_BUILD_TYPE=${{ env.BuildType }}
          cmake --build . --parallel $(nproc)
          cmake --install .
          cp -v ./*.pdb ./deployment || true
      - name: Create Package
        uses: DuckSoft/create-7z-action@v1.0
        with:
          pathSource: ./build/deployment/
          pathTarget: ./release.7z
      - name: Upload Artifact
        uses: actions/upload-artifact@master
        with:
          name: Qv2ray-${{ github.sha }}.Windows.qt${{ env.QtVersion }}-${{ env.BuildType }}.7z
          path: release.7z
      - id: get_version
        if: github.event_name == 'release'
        shell: bash
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Upload Package to GitHub Release
        uses: svenstaro/upload-release-action@v1-release
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: release.7z
          asset_name: Qv2ray.${{ steps.get_version.outputs.VERSION }}.Qt6.Windows.7z
          tag: ${{ github.ref }}
          overwrite: true

  # =========================================================================================================
  macOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Cache Qt
        id: cache-qt-macos
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: QtCache-macOS-${{ env.QtVersion }}
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ env.QtVersion }}
          cached: ${{ steps.cache-qt-macos.outputs.cache-hit }}
      - name: Install Dependencies
        run: |
          brew install protobuf grpc ninja pkg-config openssl
          git clone https://github.com/Qv2ray/macdeployqt-patched
          cd macdeployqt-patched
          mkdir build; cd build;
          cmake .. -DCMAKE_BUILD_TYPE=Release; cmake --build .
          cp -v ./macdeployqt ${Qt6_DIR}/bin/macdeployqt
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Build
        shell: bash
        env:
          PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
        run: |
          npm install -g appdmg
          mkdir build
          cd build
          cmake .. -GNinja \
            -DCMAKE_INSTALL_PREFIX=installed \
            -DCMAKE_BUILD_TYPE=${{ env.BuildType }} \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13 \
            -DDS_STORE_SCRIPT=ON \
            -DQV2RAY_DEFAULT_VASSETS_PATH=/usr/local/opt/v2ray/share/v2ray \
            -DQV2RAY_DEFAULT_VCORE_PATH=/usr/local/opt/v2ray/bin/v2ray
          cmake --build . --parallel $(sysctl -n hw.logicalcpu)
          sudo cmake --install .
          appdmg ../assets/package_dmg.json ../Qv2ray.dmg
      - name: Upload Artifact
        uses: actions/upload-artifact@master
        with:
          name: Qv2ray-${{ github.sha }}.macOS.qt${{ env.QtVersion }}-${{ env.BuildType }}.dmg
          path: Qv2ray.dmg
      - id: get_version
        if: github.event_name == 'release'
        shell: bash
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Upload Package to GitHub Release
        uses: svenstaro/upload-release-action@v1-release
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: Qv2ray.dmg
          asset_name: Qv2ray.${{ steps.get_version.outputs.VERSION }}.Qt6.macOS.dmg
          tag: ${{ github.ref }}
          overwrite: true
  # =========================================================================================================
  Linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Cache Qt
        id: cache-qt-linux
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: QtCache-Linux-${{ env.QtVersion }}
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ env.QtVersion }}
          cached: ${{ steps.cache-qt-linux.outputs.cache-hit }}
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y libgl-dev libx11-dev libxkbcommon-x11-dev libxcb-image0-dev libxcb-icccm4-dev libssl-dev libxcb-keysyms1 libxcb-render-util0 libxcb-xinerama0
          sudo apt install -y libprotobuf-dev protobuf-compiler protobuf-c-compiler libgrpc++-dev protobuf-compiler-grpc ninja-build fcitx-frontend-qt5 libcurl4-openssl-dev
      - name: Build
        shell: bash
        run: |
          mkdir build
          cd build
          cmake .. -GNinja \
            -DCMAKE_INSTALL_PREFIX=./AppDir/usr \
            -DCMAKE_BUILD_TYPE=${{ env.BuildType }} \
            -DQV2RAY_TRANSLATION_PATH=QApplication::applicationDirPath\(\)+"/../share/qv2ray/lang"
          cmake --build . --parallel $(nproc)
          cmake --install .
      - name: Generating AppImage
        run: |
          cd build
          cd AppDir
          mkdir -p ./usr/{lib,optional}/
          mkdir -p ./usr/optional/libstdc++/
          mkdir -p ./usr/optional/libgcc_s/
          wget -c https://github.com/darealshinji/AppImageKit-checkrt/releases/download/continuous/AppRun-patched-x86_64 -O AppRun
          wget -c https://github.com/darealshinji/AppImageKit-checkrt/releases/download/continuous/exec-x86_64.so -O ./usr/optional/exec.so
          chmod a+x AppRun
          cp -fv /usr/lib/x86_64-linux-gnu/libstdc++.so.6 ./usr/optional/libstdc++/
          cp -fv /lib/x86_64-linux-gnu/libgcc_s.so.1 ./usr/optional/libgcc_s/
          cp -fv /usr/lib/x86_64-linux-gnu/{libssl.so.1.1,libcrypto.so.1.1} ./usr/lib/
          cd ..
          wget https://github.com/probonopd/linuxdeployqt/releases/download/6/linuxdeployqt-6-x86_64.AppImage
          chmod +x ./linuxdeployqt-6-x86_64.AppImage
          ./linuxdeployqt-6-x86_64.AppImage AppDir/usr/share/applications/qv2ray.desktop \
            -unsupported-allow-new-glibc \
            -appimage \
            -no-strip \
            -always-overwrite \
            -extra-plugins=iconengines,imageformats,platforminputcontexts
          mv ./Qv2ray*.AppImage ./Qv2ray.AppImage
      - name: Upload Artifact
        uses: actions/upload-artifact@master
        with:
          name: Qv2ray-${{ github.sha }}.Linux.qt${{ env.QtVersion }}-${{ env.BuildType }}.AppImage
          path: build/Qv2ray.AppImage
      - id: get_version
        if: github.event_name == 'release'
        shell: bash
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Upload Package to GitHub Release
        uses: svenstaro/upload-release-action@v1-release
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/Qv2ray.AppImage
          asset_name: Qv2ray.${{ steps.get_version.outputs.VERSION }}.Qt6.Linux.AppImage
          tag: ${{ github.ref }}
          overwrite: true
